{
  "name": "${node_pkg}",
  "version": "${version}",
  "description": "a gradient progress for cli",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/shaobeichen/grprogress.git"
  },
  "keywords": ["github", "go", "cli", "gradient", "progress", "gradient", "bubbletea", "bubble"],
  "homepage": "https://github.com/shaobeichen/grprogress#readme",
  "engines": {
    "node": ">=16"
  },
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}